<div id="user-form">
    <form action="/user" method="POST">
        <div class="line">
            <label id="lookup">Lookup User</label>
        </div>
        <div class="line">
            <input type="text" name="username" placeholder="Username" required>
            <label id="hashtag">#</label>
            <input type="text" name="id" placeholder="ID" maxlength="5" size="3" required>
            <select name="regions">
                <option value="na">NA</option>
                <option value="eu">EU</option>
                <option value="kr">KR</option>
                <option value="ap">AP</option>
            </select>
        </div>
        <div class="line">
            <input type="submit" value="View User">
        </div>
    </form>
</div>