<!DOCTYPE html>
<html lang="en">

<head>
    <title>Error</title>
    <%- include('../../partials/style') %>
</head>

<body>
    <header>
        <%- include('../../partials/header'); %>
    </header>
    <main>
        <p>Unable to call user.</p>
        <p>Make sure the user has recent games to showcase.</p>
        <p>Could be rate limited if the user exists, try again in a few minutes.</p>
    </main>
</body>

</html>