<!DOCTYPE html>
<html lang="en">

<head>
    <title>Valorant ELO Viewer</title>
    <%- include('../partials/style') %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
</body>

</html>