<!DOCTYPE html>
<html lang="en">

<head>
    <title>Track ELOs</title>
</head>

<body>
    <main>
        <h1>Currently Tracking: </h1>
        <form action="/download/master.csv" method="POST">
            <input type="submit" value="⇩">
            <label><a href="/track/master.csv">master.csv</a></label>
        </form>
        <% for (let i = 0; i < trackedUsers.length; i++) { %>
        <form action="/download/<%-trackedUsers[i].replace("#", "-")%>.csv" method="POST">
            <input type="submit" value="⇩">
            <label><a href="/track/<%-trackedUsers[i].replace("#", "-")%>.csv"><%- trackedUsers[i] %></a></label>
        </form>
        <% } %>
        <br>
        <br>
        <form action="/updateTrackedPlayers" method="POST">
            <input type="submit" value="Update Tracked Players">
        </form>
    </main>
</body>

</html>